{% extends "base.html" %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-8 ">
                <h1 class="text-center">Welcome to Summit Auto Group</h1>
                <p class="text-center">Discover the latest models and deals on high-quality cars.</p>
                <a href="/inventory" class="btn btn-primary d-block mx-auto col-md-4">View Inventory</a>
            </div>
        </div>
    </div>
{% endblock%}